@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.logo {
color: #6070FF;
font-weight: 700;
font-size: 18px;
letter-spacing: 0%;
text-align: center;
padding: 10px 12px 10px 12px;
vertical-align: middle;
}

.hambugger {
width: 40px;
height: 40px;
opacity: 1;
border-radius: 8px;
padding: 8px;
fill: #6070FF;

}

header {
display: flex;
justify-content: space-between;
width: 375px;
height: 48px;
opacity: 1;
}

.name {
color: #172B4D;
font-weight: 700;
font-size: 40px;
line-height: 52px;
letter-spacing: 0%;
vertical-align: middle;

}

.description {
color: #344563;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0%;
}

.connect {
font-weight: 500;
font-size: 16px;
line-height: 24px;
letter-spacing: 0%;
color: #7F8CFF;

}

.hero-section {
    background-image: url(./img/header-shapes\ mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
}

.hero {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 10px;
    margin-top: 70px;
}

.socials {
    display: flex;
    gap: 16px;
    justify-content: space-around;
    width: 170px;
    height: 20px;
}
