@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.logo {
color: #6070FF;
font-weight: 700;
font-size: 18px;
letter-spacing: 0%;
text-align: center;
padding: 10px 12px 10px 12px;
vertical-align: middle;
}

.hambugger {
width: 40px;
height: 40px;
opacity: 1;
border-radius: 8px;
padding: 8px;

}

header {
display: flex;
justify-content: space-between;
width: 375px;
height: 48px;
opacity: 1;
}
